@page "/_hangfireBlazorDiscovery"
@using Hangfire.Dashboard.Blazor.Core.Abstractions
@using Hangfire.Dashboard.Blazor.Core.Dtos
@using Hangfire.Dashboard.Blazor.Components.TagSelector
@using Hangfire.Dashboard.Blazor.Components.SimpleTimeRangePicker
@using Microsoft.Extensions.Options

<style>
    .toolbar {
        background: #2d333b;
        border: 1px solid #444c56;
        border-radius: 6px;
        padding: 0.5rem;
    }
</style>

<Drawer @bind-Open="@_drawerIsOpened" Title="Help" Width="700px">
    <HelpText/>
</Drawer>

<div class="mb-2">
    <div class="d-flex gap-1 toolbar">
        <Button OnClick="@(() => _drawerIsOpened = true)">
            <i class="bi bi-info"></i>
        </Button>

        <QueryInput Class="flex-shrink-1 flex-grow-0" Query="@_timePaginationQuery.Data.QueryString"
                    @ref="@_queryInput"/>
        <div style="min-width: 250px;">
            <SimpleTimeRangePicker DateTimeRange="@_dateTimeRange" DateTimeRangeChanged="DateTimeRangeChanged"/>
        </div>
        <Button OnClick="@SearchJobsAsync" IsLoading="@_isLoading">Run</Button>
    </div>
    <div class="d-flex toolbar justify-content-between mt-3 align-items-baseline">
        @if (!(_lastPaginationResult?.IsSuccess ?? true))
        {
            <div class="text-danger">
                <i class="bi bi-x-circle-fill"></i>
                @_lastPaginationResult?.Error
            </div>
        }
        <TagSelector
            Placeholder="Select job parameters..."
            Items="@_allJobParams"
            @bind-SelectedItems="@_showJobParams"
            NoItemsPlaceholder="No available job parameters. Change query and get more job."/>

        <Dropdown Items="@_sortDirections"
                  TItem="TimePaginationDirection"
                  SelectedItem="@_timePaginationQuery.Direction"
                  SelectedItemChanged="@ResetAndLoad"/>
    </div>
</div>
<div>
    <JobsViewer Items="@_jobs" LoadMoreItems="@LoadMoreItems" ShowJobParams="@_showJobParams"/>
</div>

@code {

    private TimePaginationQuery<QueryDto> _timePaginationQuery = new()
    {
        Data = new QueryDto(),
        Direction = TimePaginationDirection.Older
    };

    private ICollection<TimePaginationDirection> _sortDirections = Enum.GetValues<TimePaginationDirection>();

    private Result<TimePaginationResult<JobContext>>? _lastPaginationResult;
    private DateTimeRange _dateTimeRange = new();
    private bool _isLoading = false;
    private IEnumerable<JobContext> _jobs = [];

    [Inject]
    private IJobProvider JobProvider { get; set; } = null!;

    [Inject]
    private IHintProvider HintProvider { get; set; } = null!;

    [Inject]
    private IOptions<HangfireDiscoveryOptions> HangfireDiscoveryOptions { get; set; } = null!;

    private HashSet<string> _allJobParams = [];
    private ICollection<string> _showJobParams = [];
    private bool _drawerIsOpened;
    private QueryInput _queryInput = null!;

    protected override async Task OnInitializedAsync()
    {
        _dateTimeRange.StartDateTime = DateTimeOffset.UtcNow.Add(-HangfireDiscoveryOptions.Value.StartDateTimeOffsetByNow);
        _timePaginationQuery.Data.QueryString = HangfireDiscoveryOptions.Value.StartUpQuery;

        await RefreshQueryHints();
        await base.OnInitializedAsync();
    }

    private async Task SearchJobsAsync()
    {
        _timePaginationQuery.Data.QueryString = await _queryInput.GetQueryValue();
        _timePaginationQuery.Data.StartDateTimeOffset = _dateTimeRange.StartDateTime;
        _timePaginationQuery.Data.EndDateTimeOffset = _dateTimeRange.EndDateTime;
        _isLoading = true;
        _lastPaginationResult = await JobProvider.SearchJobs(_timePaginationQuery);
        if (_lastPaginationResult.IsSuccess)
        {
            _jobs = _lastPaginationResult.Value?.Data ?? [];
        }

        _allJobParams = _jobs
            .SelectMany(j => j.Params.RootElement.EnumerateObject().Select(p => p.Name))
            .Distinct()
            .ToHashSet();
        _isLoading = false;
    }

    private async Task<IEnumerable<JobContext>> LoadMoreItems()
    {
        if (_lastPaginationResult is not { IsSuccess: true }) return [];
        _timePaginationQuery.Offset = _lastPaginationResult.Value!.NextOffset;

        _lastPaginationResult = await JobProvider.SearchJobs(_timePaginationQuery);
        if (_lastPaginationResult.IsSuccess)
        {
            var jobs = _lastPaginationResult.Value?.Data.ToList() ?? [];
            var newParams = jobs
                .SelectMany(j => j.Params.RootElement.EnumerateObject().Select(p => p.Name))
                .Distinct()
                .ToHashSet();

            _allJobParams.UnionWith(newParams);
            return jobs;
        }

        return [];
    }

    private Task ResetAndLoad(TimePaginationDirection newDirection)
    {
        _timePaginationQuery.Direction = newDirection;
        _timePaginationQuery.Offset = null;
        return SearchJobsAsync();
    }

    private Task DateTimeRangeChanged(DateTimeRange newDateTimeRange)
    {
        _dateTimeRange = newDateTimeRange;
        return RefreshQueryHints();
    }

    private async Task RefreshQueryHints()
    {
        var hints = await HintProvider.GetHintsAsync(new IntervalQuery
        {
            StartDateTimeOffset = _dateTimeRange.StartDateTime,
            EndDateTimeOffset = _dateTimeRange.EndDateTime
        });

        await _queryInput.SetValueHintAsync(hints);
    }
}